<style>
    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>
<h3 class="display-6 text-light">{{student.first_name}} {{student.last_name}} ({{student.faculty}})</h3> 
<div class="container-fluid">
    <div class="profile">
        <h5>Profile</h5>
        <ul>
            <li>{{student.course}}</li>
            <li>{{student.email}}</li>
            <li>{{student.phone}}</li>
        </ul>

    </div>
    <div class="notices">
        <h5>Notice</h5>

    </div>

    <div class="fees">
        <h5>Fees</h5>
    </div>
    <div class="results">
        <h5>Results</h5>
    </div>

</div>
