{% load static %}

    <!--footer-->
<footer class="kilimanjaro_area">
    <!-- Top Footer Area Start -->
    <div class="foo_top_header_one section_padding_100_70">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="kilimanjaro_part">
                        <h5>About Us</h5>
                        <p>Colldev University is a multinational technology University which produces competent graduates in computer software,
                            electrical engineering, Data science, among other related courses.
                            Colldev University is ranked No. 57 in the 2022 Fortune 500 rankings of the largest world
                            University by total geographical coverage and student population.</p>
                        <p>Collabodevs corporation is practically creative, clean & 99% efficient. Put yourself into next level with us.</p>
                    </div>
                    <div class="kilimanjaro_part m-top-15">
                        <h5>Social Links</h5>
                        <ul class="kilimanjaro_social_links">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="kilimanjaro_part">
                        <h5>Tags Widget</h5>
                        <ul class=" kilimanjaro_widget">
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Bachelors</a></li>
                            <li><a href="#">Masters</a></li>
                            <li><a href="#">Portals</a></li>
                            <li><a href="#">KRA</a></li>
                            <li><a href="#">KUCCIPS</a></li>
                            <li><a href="#">Fees</a></li>
                            <li><a href="#">Certificate</a></li>
                        </ul>
                    </div>

                    <div class="kilimanjaro_part m-top-15">
                        <h5>Important Links</h5>
                        <ul class="kilimanjaro_links">
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help & Support</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Careers</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Community & Forum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="kilimanjaro_part">
                        <h5>Latest News</h5>
                        <div class="kilimanjaro_blog_area">
                            <div class="kilimanjaro_thumb">
                            <img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">

                            </div>
                            <a href="#">32nd Graduation ceremony</a>
                            <p class="kilimanjaro_date">15 Dec 2022</p>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="kilimanjaro_blog_area">
                            <div class="kilimanjaro_thumb">
                            <img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                            </div>
                            <a href="#">Africa Electrical engineering workshop</a>
                            <p class="kilimanjaro_date">1 May 2020</p>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="kilimanjaro_blog_area">
                            <div class="kilimanjaro_thumb">
                            <img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                            </div>
                            <a href="#">Eastern Africa Geo-Tech Convention</a>
                            <p class="kilimanjaro_date">26 Feb 2020</p>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="kilimanjaro_part">
                        <h5>Quick Contact</h5>
                        <div class="kilimanjaro_single_contact_info">
                            <h5>Phone:</h5>
                            <p>+254 7** *** *** <br> +254 704 *** 395</p>
                        </div>
                        <div class="kilimanjaro_single_contact_info">
                            <h5>Email:</h5>
                            <p>Info@collabodevs.com <br> admin@collabodevs.com </p>
                        </div>
                    </div>
                    <div class="kilimanjaro_part">
                        <h5>Latest Works</h5>
                        <div class="kilimanjaro_works">
                            <a class="kilimanjaro_works_img" href="#"><img src="https://spj.hkspublications.org/wp-content/uploads/sites/21/2018/11/Singapore-School-Photo-MOE-Facebook-800x445.jpg" width="150%" height="120%" alt=""></a>
                            <a class="kilimanjaro_works_img" href="#"><img src="https://spj.hkspublications.org/wp-content/uploads/sites/21/2018/11/Singapore-School-Photo-MOE-Facebook-800x445.jpg" width="150%" height="120%" alt=""></a>
                            <a class="kilimanjaro_works_img" href="#"><img src="https://spj.hkspublications.org/wp-content/uploads/sites/21/2018/11/Singapore-School-Photo-MOE-Facebook-800x445.jpg" width="150%" height="120%" alt=""></a>
                            <a class="kilimanjaro_works_img" href="#"><img src="https://spj.hkspublications.org/wp-content/uploads/sites/21/2018/11/Singapore-School-Photo-MOE-Facebook-800x445.jpg" width="150%" height="120%" alt=""></a>
                            <a class="kilimanjaro_works_img" href="#"><img src="https://spj.hkspublications.org/wp-content/uploads/sites/21/2018/11/Singapore-School-Photo-MOE-Facebook-800x445.jpg" width="150%" height="120%" alt=""></a>
                            <a class="kilimanjaro_works_img" href="#"><img src="https://spj.hkspublications.org/wp-content/uploads/sites/21/2018/11/Singapore-School-Photo-MOE-Facebook-800x445.jpg" width="150%" height="120%" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area Start -->
    <div class="kilimanjaro_bottom_header_one section_padding_50 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>©2022 All Rights Reserved.<br>
                        <a href="https://github.com/collabodevs" target="_blank">Collabodevs Corporation.<i class="fa fa-love"></i></a></p>
                </div><p>Coded with passion from <a href="https://rongovarsity.ac.ke" target="_blank">Rongo University.</a></p>
            </div>
        </div>
    </div>
</footer>
