{% extends "baseapp/base.html" %}

{% block content %}

<!-- Notice board -->
   <div style="top: 0px;" class="site">
    <div class="content">
        <div class="left">
            <h3 style="text-align: center;">Notice Board</h3> <hr>
            <ul>
                <li> <a href="#">Reopening of School</a> </li> <hr>
                <li> <a href="#">The 4th Hackerthon Competition</a> </li> <hr>
                <li> <a href="#">Music Preparation</a> </li> <hr>
                <li> <a href="#">Graduation Ceremony </a></li> <hr>
                <li> <a href="#">Attachment Letters</a> </li> <hr>
                <li> <a href="#">Internship Programs</a> </li> <hr>            
            </ul>
        </div>

        <div class="center">
            <h3 style="margin: 20px;">Campus Tour</h3>
            <iframe width="654" height="368" src="https://www.youtube.com/embed/t79Six0wQz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>           
        </div>

        <div class="right">
            <h3 style="text-align: center;">Schools</h3> <hr>
            <ul>
                <li> <a href="#">School of Science</a></li> <hr>
                <li> <a href="#">School of Engineering</a></li> <hr>
                <li> <a href="#">School of Business</a></li> <hr>
                <li> <a href="#">School of Arts</a></li> <hr>
                <li> <a href="#">School of Education</a></li> <hr>
            </ul>         
        </div>
    </div>

	   
    <div class="col-md-8 col-center">
      <div class="card bg-light mb-3" style="max-width: 200rem;">
        <div class="card-header">VICE CHANCELLOR'S WELCOME MESSAGE</div>
        <div class="card-body">
          <h5 class="card-title">Welcome Message</h5>
          <p class="card-text">Congratulations and welcome to Colldev University. We are looking forward for to join our world class University and for you to take next steps towards your ambitious careers.</p> 
          <div class="coh-container coh-component coh-component-instance-04f61eff-27ee-49ef-b5ac-86967e8afd02 contextual-component"> <div class="coh-container   coh-container-boxed">               <div class="coh-container coh-component coh-component-instance-d7c89944-f0d1-4140-be88-c376ae89715e contextual-component   "> <div class="coh-wysiwyg">    <div class="rich-txt-custom"><p class="coh-style-body">Welcome to Colldev University! Congratulations to  all who have achieved and succeded in your higher secondary education &nbsp;this past year and for your resilience and hard work through the exceptional&nbsp;circumstances of the  current pandemic. We are looking forward to you joining our&nbsp;university and taking the next steps towards your ambitious learning,goldmine of knowledge and innovative ideas and projects. I am delighted that&nbsp; you have chosen to invest in your future with us.<br>
            The Colldev university priorities a safe, welcoming, fulfilling, inclusive environment of success for all and your wellbeing is key to this. We have many&nbsp;resources to support all forms of wellness and a comprehensive extra-curricular&nbsp;programme of events, activities, clubs and societies for you to explore exciting new&nbsp;opportunities, meet new friends and discover new horizons. All our campuses are&nbsp;<a href="/about/coronavirus">Covid-Secure</a>, inline with Kenyan Government guidelines, to ensure that you can enjoy&nbsp;the full University experience, governed by our <a href="/about/tiers-operation">Covid-19 Tiers of Operation System.</a><br>
            Our <a href="/about/return-campus/covid-19-community-wellness-pledge">Colldev university Wellness Pledge</a> requires all members of the University&nbsp;community to commit to expected behaviours to keep ourselves and our community&nbsp;healthy, safe and supported.<br>
            The Colldev university has galvanised around our commitment to deliver the&nbsp;highest quality, careers-first education. You'll find we've invested and transformed&nbsp;the way we do things to give you a flying start, leading the way education should be&nbsp;delivered. Our ground-breaking curriculum is delivered through our innovative Dual<br><a href="/about/return-campus">Delivery </a> framework. This offers a holistic approach to teaching and&nbsp;learning that focuses on developing your academic and personal skills to prepare&nbsp;you for the jobs of the future. Delivery framework enables you to engage in a wide range of&nbsp;inspiring learning and development opportunities through a flexible, personalised,&nbsp; careers-focussed educational experience.<br>
            You are joining a thriving and vibrant community on campus. You will find that the&nbsp;friendly and diverse nature of campus life is shared by the community at large. On&nbsp;our campuses, we have a wide range of services devoted to supporting your studies.<br>
            You will have access to libraries, computing facilities, welfare, advice and many social&nbsp;and sporting facilities. The Students' Union at the University also aims to help you&nbsp;love your time at Colldev university, to help you make friends and discover new activities and to&nbsp;represent your academic interests to the University.<br>
            We want you to hit the ground running when you enrol with us. This 'Next Steps&nbsp;Guide' is designed to help you settle into your studies and life on campus as soon as&nbsp;possible by providing you with a range of important and interesting information. So&nbsp;please do make sure you read this document and keep it safe.</p>
      
            <p class="coh-style-body"><br>
              We look forward to seeing you soon.</p>
              
              <p class="coh-style-body"><br>
              With the best wishes,<br>
              Professor Michael Amani Broderick<br>
              BA (Hons) PhD DipM DipMRS PGCTL FRSA MBGS FCIM PFHEA<br>
              Vice-Chancellor</p>
               </div> </div> </div> 
                 </div> </div>
        </div>
      </div>
      </div>
      
    <!--Achievements Counts section-->
    <section id="counts" class="counts">
      <div class="container position-relative">

        <div class="text-center title">
          <h3>Achievements progress so far.</h3>
          <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
        </div>

        <div class="row counters">

<!-- End of Notice board -->


<!-- corousel -->
<div style="background-color: aliceblue;" class="container">
	<div class="row">
		<div class="col-md-8 col-center">
			<h2>University Alumni</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="img-box"><img src="https://images.unsplash.com/photo-1554844453-7ea2a562a6c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt=""></div>
						<p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
						<p class="overview"><b>Morvin Ian (2015)</b>, Software Engineer </p>
					</div>
					<div class="item">
						<div class="img-box"><img src="https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG98ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt=""></div>
						<p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
						<p class="overview"><b>Derrik Chasimba (2016)</b>, Web and Android Developer</p>
					</div>
					<div class="item">
						<div class="img-box"><img src="https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt=""></div>
						<p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
						<p class="overview"><b>Captain Kenya (2012)</b>, Cybersecurity Expert</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
  


   <!--Contact Section-->
 <section class="form-section" style="background-image:url(https://media.istockphoto.com/photos/dice-with-communication-symbols-on-keyboard-picture-id1161344489?k=20&m=1161344489&s=612x612&w=0&h=5e7HNM5xU-jUrZ-xIFoJs-QBo5oEtYD_y9LVgfmqgbU=);">
    <div class="overlay"></div>
     <div class="container">
       <div class="row">
         <div class="heading-title"> Get in touch</div>
       </div>
      <div class="row">
       <div class="col-md-4">
          <div class="contact-box">
            <ul class="list-inline">
              <li>
                 <div class="contact">
                   <i class="fa fa-map-marker" aria-hidden="true"></i>
                   <p> Collabodevs Corporation University <br> Bucharest, Romania </p>
                 </div>
               </li>
               <li>
                 <div class="contact">
                   <i class="fa fa-envelope" aria-hidden="true"></i>
                   <p> Info@collabodevs.com <br> admin@collabodevs.com </p>
                 </div>
               </li>
               <li>
                 <div class="contact">
                   <i class="fa fa-mobile" aria-hidden="true"></i>
                   <p> +254 7** *** *** <br> +254 704 *** 395 </p>
                 </div>
               </li>
            
            </ul>
          </div>			
        </div>
         <div class="col-md-4">
           <div class="form-box-inner">
              <form action="" method="">
                 <div class="form-group">
                   <input type="text" class="form-control" for="" name="" value="" placeholder="Your name">
                 </div>
                 <div class="form-group">
                   <input type="email" class="form-control" for="" name="" value="" placeholder="Your email">
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control" for="" name="" value="" placeholder="Your number">
                 </div>
                  <div class="form-group">
                  <textarea rows="4" cols="50" class="form-control" placeholder="Describe yourself here..."></textarea>
                 </div>
                 <button class="btn custom-button"> Submit Now </button>
              </form>
           </div>
         </div>
         
         <div class="col-md-4">
           <div class="map-box">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4085151.253332155!2d32.3667256!3d-0.8242034!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182b49f52ae796bd%3A0x4b5c694d2099db28!2sRongo%20University!5e0!3m2!1sen!2ske!4v1651568833200!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>			 </div>
         </div>
         
      </div>
    </div>
  </section>
<!--end contact section-->
  
{% endblock content %}




