{% extends "baseapp/base.html" %}

{% block content %}
   <div style="top: 0px;" class="site">
    <div class="content">
        <div class="left">
            <h3 style="text-align: center;">Notice</h3>
            <ul>
                <li> <a href="#">Reopening of School</a> </li> <hr>
                <li> <a href="#">The 4th Hackerthon Competition</a> </li> <hr>
                <li> <a href="#">Music Preparation</a> </li> <hr>
                <li> <a href="#">Graduation Ceremony </a></li> <hr>
                <li> <a href="#">Attachment Letters</a> </li> <hr>
                <li> <a href="#">Internship Programs</a> </li> <hr>
                
            </ul>

        </div>

        <div class="center">
            <h3 style="margin: 20px;">Campus Tour</h3>
            <iframe width="654" height="368" src="https://www.youtube.com/embed/t79Six0wQz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            

        </div>

        <div class="right bg-dark">
            <h3 style="text-align: center; color: white;">About Us</h3>
            <ul>
                <li> <a href="#">Reopening of Schools</a></li> <hr style="color: white;">
                <li> <a href="#">Ongoing Programmes</a></li> <hr style="color: white;">
                <li> <a href="#">Ongoing Programmes</a></li> <hr style="color: white;">
                <li> <a href="#">Ongoing Programmes</a></li> <hr style="color: white;">
                <li> <a href="#">Ongoing Programmes</a></li> <hr style="color: white;">
            </ul>
          
        </div>

     

    </div>

    <div class="alumni">
    <hr> <h3>Alumni Comments</h3> <hr>
    <div class="comments"> 
        <div class="lef">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, perferendis? Ipsam porro fugit ex cumque eius facilis,
                ducimus a fuga, assumenda, aliquam unde! Beatae ex laudantium tempore quos nihil nobis dolorum modi vel.
                Illo quia eveniet enim modi exercitationem alias animi velit? Explicabo rem libero aliquid odit ipsam officia est.

                <br> <br> 

                <small>Morvin Ian</small>
            </p>

        </div>
        <div class="rig">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, perferendis? Ipsam porro fugit ex cumque eius facilis,
                ducimus a fuga, assumenda, aliquam unde! Beatae ex laudantium tempore quos nihil nobis dolorum modi vel.
                Illo quia eveniet enim modi exercitationem alias animi velit? Explicabo rem libero aliquid odit ipsam officia est.

                <br> <br>

                <small>Esther Muchiri</small>
            </p>

        </div>
      
    </div>

    </div>
   </div>
  
{% endblock content %}