{% extends "baseapp/base.html" %}

{% block content %}

   <div style="top: 0px;" class="site">
    <div class="content">
        <div class="left">
            <h3 style="text-align: center;">Notice Board</h3> <hr>
            <ul>
                <li> <a href="#">Reopening of School</a> </li> <hr>
                <li> <a href="#">The 4th Hackerthon Competition</a> </li> <hr>
                <li> <a href="#">Music Preparation</a> </li> <hr>
                <li> <a href="#">Graduation Ceremony </a></li> <hr>
                <li> <a href="#">Attachment Letters</a> </li> <hr>
                <li> <a href="#">Internship Programs</a> </li> <hr>
                
            </ul>


        </div>

        <div class="center">
            <h3 style="margin: 20px;">Campus Tour</h3>
            <iframe width="654" height="368" src="https://www.youtube.com/embed/t79Six0wQz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
        </div>

        <div class="right">
            <h3 style="text-align: center;">Schools</h3> <hr>
            <ul>
                <li> <a href="#">School of Science</a></li> <hr>
                <li> <a href="#">School of Engineering</a></li> <hr>
                <li> <a href="#">School of Business</a></li> <hr>
                <li> <a href="#">School of Arts</a></li> <hr>
                <li> <a href="#">School of Education</a></li> <hr>
            </ul>
          
        </div>

     

    </div>

    <div class="alumni">
    <h3> University Alumni </h3> 
    <div class="comments"> 
        <div class="lef">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, perferendis? Ipsam porro fugit ex cumque eius facilis,
                ducimus a fuga, assumenda, aliquam unde! Beatae ex laudantium tempore quos nihil nobis dolorum modi vel.
                Illo quia eveniet enim modi exercitationem alias animi velit? Explicabo rem libero aliquid odit ipsam officia est.

                <br> <br> 

                <small>Morvin Ian (2017) </small>
            </p>

        </div>
        <div class="rig">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, perferendis? Ipsam porro fugit ex cumque eius facilis,
                ducimus a fuga, assumenda, aliquam unde! Beatae ex laudantium tempore quos nihil nobis dolorum modi vel.
                Illo quia eveniet enim modi exercitationem alias animi velit? Explicabo rem libero aliquid odit ipsam officia est.

                <br> <br>

                <small>Esther Muchiri (2015) </small>
            </p>

        </div>
      
    </div>

    </div>
   </div>


   <!--Contact Section-->
 <section class="form-section" style="background-image:url(https://media.istockphoto.com/photos/dice-with-communication-symbols-on-keyboard-picture-id1161344489?k=20&m=1161344489&s=612x612&w=0&h=5e7HNM5xU-jUrZ-xIFoJs-QBo5oEtYD_y9LVgfmqgbU=);">
    <div class="overlay"></div>
     <div class="container">
       <div class="row">
         <div class="heading-title"> Get in touch</div>
       </div>
      <div class="row">
       <div class="col-md-4">
          <div class="contact-box">
            <ul class="list-inline">
              <li>
                 <div class="contact">
                   <i class="fa fa-map-marker" aria-hidden="true"></i>
                   <p> Collabodevs Corporation University <br> Bucharest, Romania </p>
                 </div>
               </li>
               <li>
                 <div class="contact">
                   <i class="fa fa-envelope" aria-hidden="true"></i>
                   <p> Info@collabodevs.com <br> admin@collabodevs.com </p>
                 </div>
               </li>
               <li>
                 <div class="contact">
                   <i class="fa fa-mobile" aria-hidden="true"></i>
                   <p> +254 7** *** *** <br> +254 704 *** 395 </p>
                 </div>
               </li>
            
            </ul>
          </div>			
        </div>
         <div class="col-md-4">
           <div class="form-box-inner">
              <form action="" method="">
                 <div class="form-group">
                   <input type="text" class="form-control" for="" name="" value="" placeholder="Your name">
                 </div>
                 <div class="form-group">
                   <input type="email" class="form-control" for="" name="" value="" placeholder="Your email">
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control" for="" name="" value="" placeholder="Your number">
                 </div>
                  <div class="form-group">
                  <textarea rows="4" cols="50" class="form-control" placeholder="Describe yourself here..."></textarea>
                 </div>
                 <button class="btn custom-button"> Submit Now </button>
              </form>
           </div>
         </div>
         
         <div class="col-md-4">
           <div class="map-box">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4085151.253332155!2d32.3667256!3d-0.8242034!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182b49f52ae796bd%3A0x4b5c694d2099db28!2sRongo%20University!5e0!3m2!1sen!2ske!4v1651568833200!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>			 </div>
         </div>
         
      </div>
    </div>
  </section>
<!--end contact section-->
  
{% endblock content %}




