{% extends "baseapp/base.html" %}

{% block content %}


    <div class="bg-light">
        <h1 class="text-center display-6 p-3"> Undergoing &#38; Planned Events</h1>

        <div class="container">
            <ul>
                <li class="lead" > Reopening of School </li> 
                <li class="lead" > The 4th Hackerthon Competition </li> 
                <li class="lead" > Music Preparation </li> 
                <li class="lead" > Graduation Ceremony </li> 
                <li class="lead" > Attachment Letters </li> 
                <li class="lead" > Internship Programs </li>             
            </ul>
        </div>

    </div>


{% endblock content %}