{% extends "baseapp/base.html" %}

{% block content %}


    <div class="bg-light">
        <h1 class="text-center display-6 p-3"> Program Title </h1>

        <div class="container">
            <ul>
                <li class="lead"> School of Space Science</li> 
                <li class="lead"> School of Meadicine</li> 
                <li class="lead"> School of Aeronautical Engineering</li> 
                <li class="lead"> School of Business</li > 
                <li class="lead"> School of Arts</li> 
                <li class="lead"> School of Eaducation</li> 
                <li class="lead"> School of Agriculture</li>         
            </ul>
        </div>

    </div>


{% endblock content %}