{% extends 'baseapp/base.html' %}


{% block content %}


<body>
    <main id="main-holder">
        <h1 id="login-header">Login to E-learning</h1>
        
        <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
        </div>
        
        <form id="login-form">
            <form action="action_page.php" method="post">
        
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <br>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                
                    <br>
                
                    <label for="psw"><b>Password</b></label>
                    <br>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <br>
                
                    <input type="submit" value="Login" id="login-form-submit">
                    <br>
                    <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <br>

                    <span class="psw"> <a href="#">Forgotten password?</a></span>
                </div>
                
                <div class="container" style="background-color:#f1f1f1">
                    
                    
                </div>
                </form>
                
        </form>
        
        </main>
</body>


{% endblock content %}