{% extends "baseapp/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Welcome to Admissions Centre</h1>

    <div class="row">
        <p>To gain admission for courses at Zetech University, you must have completed a recognized secondary or
            tertiary education level.</p>
        <h3>When to apply</h3>
        <p>The University has three intakes in a year, in the following months; January, May and September.</p>
    </div>
</div>


{% endblock content %}